@use "./variables" as *;
@import "./_my-work.scss";

.study-section {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem 3rem;

  .section-title {
    color: $primary;
    padding-top: 2.5rem;
    font-weight: 700;
    font-size: $h2-mobile;
    margin-bottom: 1rem;
  }

  .section-content {
    font-size: $p-mobile;
    padding-block: 1rem;
  }

  img {
    height: auto;
    object-fit: contain;
    width: 100%;
  }

  @media (min-width: $mobile-breakpoint) {
    padding: 0rem min(12.5%, 16rem) 2rem;
    .section-title {
      font-size: $h2-desktop;
      padding-top: 4rem;
    }
    .section-content {
      font-size: $p-desktop;
    }
  }
}

main {
  display: flex;
  position: relative;
  .tbc {
    position: fixed;
    left: 0;
    //text-orientation: upright;
    // vertical-align: top;
    //writing-mode: vertical-rl;
    transform: rotate(-90deg) translateY(-330%);
    padding: 0.2rem 2rem;
    background-color: $neutral-02;
    color: white;
    cursor: pointer;
    z-index: 1;
    border: none;
    border-radius: 3px;
    top: 50vh;
    &:hover {
      color: black;
      background-color: $primary;
    }
  }
}

.contents {
  color: black;
  background-color: white;
  overflow: auto;

  height: 100vh;
  padding: 2rem 0rem 2rem 3rem;

  transition: all 0.5s ease;
  z-index: 1;

  @media (min-width: $mobile-breakpoint) {
    flex: 1 1 max(25%, 27rem);
    height: 100vh;
    transform: translateY(0);
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    padding: 2rem 0rem 2rem 3rem;
    grid-gap: 0.5rem;
    flex-direction: column;
    background-color: $white;
  }
  button {
    position: absolute;
    top: 2%;
    right: 8%;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;

      svg path {
        fill: hsl(48, 100, 70);
      }
    }
    svg path {
      fill: $primary;
    }
  }

  &.hidden {
    position: absolute;
    left: -150%;
  }

  &.show {
    position: fixed;
    left: 0;
    width: 100%;
    top: $header-height;
    padding-top: 2rem;
    padding-right: 2rem;
    padding-bottom: 0;
    top: 0;

    h2 {
    }
    ul {
    }
    .title {
      font-size: 1.5rem;
    }
    .title-contents {
      font-size: 2rem;
    }

    .sub-title {
      font-size: 1.4rem;
    }
  }
  .title {
    font-size: $h3-desktop;
    font-weight: 500;
  }
  .title-contents {
    margin-bottom: 1rem;
  }
  .sub-title {
    display: flex;
    grid-gap: 0.33rem;
    margin-left: 2rem;

    font-size: $p-mobile;

    &:visited,
    &:link,
    &:active {
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      color: $primary;
      font-weight: 600;
    }
    @media (min-width: $mobile-breakpoint) {
      img {
      }
    }
  }
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    a {
      padding-block: 0.2rem;
    }
  }
}

.case-study {
  flex: 1 1 100%;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
    height: auto;
  }

  .new-design {
    object-fit: cover;
    height: 100%;
    width: auto;
  }

  @media (min-width: $mobile-breakpoint) {
    img {
      width: 80%;
      height: auto;
      object-fit: cover;
    }
  }
}
.back-to-top {
  content: "";
  border: none;
  background-color: transparent;
  position: sticky;
  bottom: 5%;
  align-self: flex-end;
  right: min(12.5%, 16rem);
  background-repeat: no-repeat;

  svg {
    width: 56px;
    height: 56px;
    z-index: 2;
  }
  @media (min-width: $mobile-breakpoint) {
    svg {
      width: 64px;
      height: 64px;
    }
  }

  &:hover {
    cursor: pointer;
    svg path {
      fill: $primary;
    }
    img {
    }
  }
}

.img-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-style: none;
  margin-block: 1rem;
}

.improved {
  width: 100%;
  position: relative;
  padding: 2.75rem 1.75rem 2.5rem;
  color: white;
  background-color: $neutral-02;
  background-position: 20% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 500;
  &::before {
    content: "Updated and improved";
    color: $primary;
    font-size: 1rem;
    position: absolute;
    top: min(1.8rem, 24%);
    left: 1.75rem;
  }

  @media (min-width: $mobile-breakpoint) {
    font-size: $h2-desktop;
    font-weight: 500;
    padding: 3rem min(12.5%, 16rem) 3rem;
    &::before {
      left: min(12.5%, 16rem);
      top: max(1rem, 21%);
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.main-title {
  width: 100%;
  position: relative;
  padding: 2.75rem 1.75rem 2.5rem;
  color: black;
  background-position: 20% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 500;
  &::after {
    content: "";
    position: absolute;
    // background-image: url(../../public/vase.jpg);
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    background-position: 20% 53%;
    background-size: 150%;
    background-repeat: no-repeat;
  }
  &::before {
    content: "UI Design case study";
    color: $primary;
    font-size: 1rem;
    position: absolute;
    top: min(1.8rem, 24%);
    left: 1.75rem;
  }
  @media (min-width: $mobile-breakpoint) {
    font-size: $h2-desktop;
    font-weight: 500;
    padding: 3rem min(12.5%, 16rem) 3rem;
    &::after {
      background-size: 120%;
      background-position: 0% 47%;
    }
    &::before {
      left: min(12.5%, 16rem);
      top: max(1rem, 22%);
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.overview {
  align-items: flex-start;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../public/snow.jpg);
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    transform: scale(1.03);
  }
  .section-content {
    color: white;
  }
  img {
    height: auto;
    height: 100%;
    object-fit: cover;
    margin-block: 1rem;
  }
  @media (min-width: $mobile-breakpoint) {
    img {
      margin-top: 3rem;
      width: 100%;
      height: auto;
      max-width: 724px;
      align-self: center;
      margin: auto auto 2rem;
    }
  }
}

.analysis {
  display: flex;
  img {
    width: 100%;
    height: auto;
    margin-block-end: 1rem;
  }

  @media (min-width: $mobile-breakpoint) {
    img {
    }
  }
}

.disable-scroll {
  overflow-y: hidden;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;

  img {
    z-index: 2;
    transform: scale(0.9);
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
  @media (min-width: $mobile-breakpoint) {
  }
}

.article-title {
  background-color: $neutral-02;

  .section-content {
    color: white;
    filter: brightness(0.9);
  }
}

.author-section {
  div {
    flex-wrap: wrap;
  }
  .img-btn {
    padding: 1rem 0 0;
  }
  @media (min-width: $mobile-breakpoint) {
    div {
      display: flex;
      flex-wrap: nowrap;
      grid-gap: 2rem;
      width: 100%;
      :first-child {
        flex: 1 1 100%;
      }
      :last-child {
        flex: 1 1 100%;
      }
    }
    .author-img {
      height: auto;
      width: 100%;
    }
    .author-img2 {
      height: auto;
      float: left;
    }
  }
}

.body {
  background-color: $neutral-02;
  color: $white;
  @media (min-width: $mobile-breakpoint) {
    div {
      display: flex;
      grid-gap: 1rem;

      justify-content: center;
      align-items: center;
      :first-child {
        flex: 1 1 90%;
      }
      :last-child {
        flex: 1 1 100%;
      }
    }
    :nth-child(2) {
    }
    :nth-child(4) {
    }
  }
}

.comments {
  div {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: $mobile-breakpoint) {
    grid-gap: 2rem;
    div {
      flex-direction: row;
      display: flex;
      :first-child {
        flex: 1 1 100%;
      }
      :last-child {
        flex: 1 1 100%;
        margin: 0;
      }
    }
  }
}

.article-aside {
  background-color: $neutral-02;
  color: $white;
  .img-btn {
    padding-bottom: 0;
  }
  img {
    height: 100%;
    width: auto;
  }
  @media (min-width: $mobile-breakpoint) {
  }
}

.research {
  background-color: $neutral-02;
  color: $white;
  @media (min-width: $mobile-breakpoint) {
  }
}

.conclusions {
  @media (min-width: $mobile-breakpoint) {
  }
}

.wireframe {
  background-color: $neutral-02;
  justify-content: flex-end;
  color: $white;
  .img-btn {
    flex: 1 0 400px;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: 50% 10%;
    }
  }

  .section-title {
    flex: 1 0 1fr;
  }
  .section-content {
    flex: 1 1 1fr;
  }
  @media (min-width: $mobile-breakpoint) {
    img {
      object-fit: cover;
      object-position: 50% 10%;
    }
  }
}

.navigation {
  @media (min-width: $mobile-breakpoint) {
  }
}

.header {
  background-color: $neutral-02;
  color: $white;
  @media (min-width: $mobile-breakpoint) {
  }
}

.new-body {
  @media (min-width: $mobile-breakpoint) {
  }
}

.new-article-footer {
  background-color: $neutral-02;
  color: $white;
  @media (min-width: $mobile-breakpoint) {
  }
}

.about {
  @media (min-width: $mobile-breakpoint) {
  }
}

.new-comments {
  background-color: $neutral-02;
  color: $white;
  @media (min-width: $mobile-breakpoint) {
  }
}
.new-footer {
  @media (min-width: $mobile-breakpoint) {
  }
}
.finale {
  background-color: $neutral-02;
  color: $white;
  @media (min-width: $mobile-breakpoint) {
  }
}

.img-compare {
  align-self: center;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 87%;
  margin-block: 2rem;
  overflow: hidden;
  align-self: center;
  @media (min-width: $mobile-breakpoint) {
  }

  .wrapper {
    filter: drop-shadow(-1px 1px 0 $neutral-02);
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .img1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border: none;
  }

  .img2 {
    display: block;
    width: 100%;
    object-position: center;
    height: auto;
    object-fit: cover;
    position: absolute;
    border: none;
    top: 0;
    --exposure: 50%;

    clip-path: polygon(
      calc(var(--exposure) + 1px) 0,
      100% 0,
      100% 100%,
      calc(var(--exposure) + 1px) 100%
    );
  }

  input {
    --thumb-size: clamp(2em, 2vmin, 2em);
    margin: 0 calc(var(--thumb-size) / -2);
    width: calc(100% + var(--thumb-size));
    appearance: none;
    -webkit-appearance: none;
    border: none;
    background: none;
    cursor: col-resize;
    @media (min-width: $mobile-breakpoint) {
      --thumb-size: clamp(3em, 5vmin, 5em);
      margin: 0 calc(var(--thumb-size) / -2);
      width: calc(100% + var(--thumb-size));
    }

    //firefox
    &::-moz-range-thumb {
      background-image: url(../../public/thumb.svg);
      background-color: transparent;
      background-size: 100%;
      border-radius: 50%;
      border: none;
      width: var(--thumb-size);
      height: var(--thumb-size);
    }
    &:focus::-moz-range-thumb {
      /* thumb focus styles */
    }

    /* Chrome, Safari and Edge, */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background-image: url(../../public/thumb.svg);
      background-color: transparent;
      background-size: 100%;
      border-radius: 50%;
      border: none;
      width: var(--thumb-size);
      height: var(--thumb-size);
    }

    &:focus::-webkit-slider-thumb {
      /* thumb focus styles */
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: stretch;
    display: flex;
  }
}
// image compariotor
