@use "./variables" as *;

.my-work-main {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 0.5rem;
  color: white;
  padding-bottom: 2rem;

  background-image: url(../../public/beach.jpg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;

  header {
    width: 100%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
    grid-gap: 0.5rem;

    @media (min-width: $mobile-breakpoint) {
      padding: 2rem min(12.5%, 16rem) 3rem;
      h1 {
        font-size: $h2-desktop;
        font-weight: 600;
        width: 100%;
      }
      p {
        font-size: $p-desktop;
        font-size: $p-desktop;
      }
    }
  }
  h2 {
    font-size: $h2-mobile;
    font-weight: 500;
    align-self: center;
    position: relative;
    padding-block: 1.5rem;
    order: 1;
    &::before {
      position: absolute;
      content: "";
      width: 14rem;
      height: 1px;
      background-color: white;
      bottom: 5px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  a {
    font-size: $p-mobile;
    display: flex;
    grid-gap: 0.33rem;

    align-self: center;
    order: 2;
    &:visited,
    &:link,
    &:active {
      color: inherit;
    }
    @media (min-width: $mobile-breakpoint) {
    }
  }
  .image-gallery {
    display: flex;
    flex-direction: column;
    width: min(95%, 80rem);
    margin-top: 5rem;
    align-self: center;

    z-index: 0;
    position: relative;

    .counter {
      display: flex;
      position: absolute;
      right: 50%;
      bottom: 5%;
      transform: translateX(50%);

      svg {
        cursor: pointer;
        width: 16px;
        height: 16px;
      }
      svg:hover {
        path {
          fill: $primary;
        }
      }
    }

    button {
      position: absolute;
      background-position: center;
      background-size: contain;
      background-image: url(../../public/next-mobile.svg);
      border: none;
      background-repeat: no-repeat;
      background-color: transparent;
      height: 51.75px;
      width: 38px;
      flex: 1 1 100%;
      cursor: pointer;

      &:hover {
        background-image: url(../../public/next-mobile-hover.svg);
      }
    }

    .prev {
      top: 50%;
      left: 0.5rem;
      transform: translateY(-50%);
    }
    .next {
      transform: translateY(-50%) rotate(180deg);
      top: 50%;
      right: 0.5rem;
    }
    @media (min-width: $mobile-breakpoint) {
      img {
        object-fit: contain;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        height: auto;
      }
      button {
        height: 69px;
        width: 57px;
        background-image: url(../../public/next.svg);
        &:hover {
          background-image: url(../../public/next-hover.svg);
        }
      }

      .counter {
        bottom: 5%;
        svg {
          cursor: pointer;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
.image-gallery2 {
  display: flex;
  flex-direction: column;
  width: min(95%, 80rem);
  align-self: center;

  z-index: 0;
  position: relative;

  h2 {
    margin-bottom: 2rem;
  }

  .counter {
    display: flex;
    position: absolute;
    right: 50%;
    bottom: 5%;
    transform: translateX(50%);

    svg {
      cursor: pointer;
      width: 16px;
      height: 16px;
    }
    svg:hover {
      path {
        fill: $primary;
      }
    }
  }

  button {
    position: absolute;
    background-position: center;
    background-size: contain;
    background-image: url(../../public/next-mobile.svg);
    border: none;
    background-repeat: no-repeat;
    background-color: transparent;
    height: 51.75px;
    width: 38px;
    flex: 1 1 100%;
    cursor: pointer;

    &:hover {
      background-image: url(../../public/next-mobile-hover.svg);
    }
  }

  .prev {
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
  }
  .next {
    transform: translateY(-50%) rotate(180deg);
    top: 50%;
    right: 0.5rem;
  }
  @media (min-width: $mobile-breakpoint) {
    img {
      object-fit: contain;
      width: 100%;
      flex-grow: 0;
      flex-shrink: 0;
      height: auto;
    }
    button {
      height: 69px;
      width: 57px;
      background-image: url(../../public/next.svg);
      &:hover {
        background-image: url(../../public/next-hover.svg);
      }
    }

    .counter {
      bottom: 5%;
      svg {
        cursor: pointer;
        width: 24px;
        height: 24px;
      }
    }
  }
}
